{
  "resources":[
    {
      "path":"assets/res",
      "resourceType":"resource"
    },
    {
      "path":"assets/gui/",
      "resourceType":"gui"
    }
  ],
  "defaultConfig":{
    "buildType":"develop",
    "api":"CoreEngine",
    "libraryDir":"lib/",
    "resourcePacksDir":"addon/RP/",
    "behaviorPacksDir":"addon/BP/"
  },
  "buildDirs":[
    {
      "targetSource":"main.js",
      "dir":"assets/dev/"
    }
  ],
  "compile":[
    {
      "path":"main.js",
      "sourceType":"mod"
    },
    {
      "path":"launcher.js",
      "sourceType":"launcher"
    }
  ],
  "nativeDirs":[],
  "javaDirs":[]
}